
{{! Display user post }}
<div class="container">
  <div class="row mx-auto">
    <div class="card post-item">
      <br />
      <div class="card-header flex-row justify-space-between">
        <h4>{{post.title}}</h4>
        <div>
          Posted by
          {{post.user.username}}
          on
          {{format_date post.createdAt}}
        </div>
        {{! Display the current likes count }}
      </div>
      <div class="card-body">
        <pre>
          <code class="language-js">
            {{post.body}}
          </code>
        </pre>
        <br />
        <p>👍 : <span id="likesCount">{{post.likes}} </span> Likes</p>
        <div id="messageContainer"></div>
        <br />
        <button
          id="likeButton"
          class="btn btn-primary like-button"
          data-post-id="{{post.id}}"
        >Like 👍</button>
      </div>
    </div>
  </div>
  <br />
  {{! Display the comments if there is one }}
  {{#if postComments.length}}
    <div class="row mx-auto">
      <section class="card">
        <br />
        <div class="card-header">
          <h3>Comments Dashboard</h3>
        </div>
        <div class="comment-list card-body">
          {{#each postComments}}
            <div class="comment">
              <br />
              <p class="comment">Posted by:
                {{user.username}},on
                {{format_date createdAt}}</p>
            </div>
            <p>&mdash;
              <span id="comment-{{id}}" class="comment-text">{{comment_text}}</span>
            </p>
            {{#if canEdit}}
            <button
              class="delete-btn btn btn-danger"
              data-comment-id="{{id}}"
            >Delete</button>
            <button
              href="/post/{{id}}"
              class="edit-btn btn btn-success"
              data-comment-id="{{id}}"
            >Edit</button>
            {{/if}}
            <hr />
          {{/each}}
        </div>
      </section>
    </div>
  {{/if}}

  {{! if user is logged in place to drop their comment }}
  {{#if logged_in}}
    <form id="new-comment-form" class="card-body">
      <hr />
      <div class="card-body">
        <input type="hidden" name="post-id" value="{{post.id}}" />
        {{! <label class="form-label" for="comment-body">Comment</label> }}
        <input
          type="text"
          name="comment-body"
          class="form-control"
          placeholder="Write your comment here"
          id="commentText"
        />
        <br />
        <button type="submit" class="btn btn-primary" id="addComment">Add Comment</button>
      </div>
    </form>
    <script src="/js/comment.js"></script>
  {{/if}}
</div>
<script src="/js/like.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
